[Unit]
Description=Password Checker App
After=network.target

[Service]
User=root
WorkingDirectory=/home/app/password-checker
ExecStart=/home/app/password-checker/venv/bin/uvicorn main:app --env-file /home/app/password-checker/.env --host 0.0.0.0 --port 80
Restart=no

[Install]
WantedBy=multi-user.target
