<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Page</title>
    <link rel="icon" href="/static/img/icon-admin.svg" type="image/svg" />
    <link href="/static/lib/fonts/Montserrat.css" rel="stylesheet" />
    <link href="/static/css/common.css" rel="stylesheet" />
    <link href="/static/css/admin.css" rel="stylesheet" />
    <script src="/static/lib/js/jquery-3.6.4.min.js"></script>
    <script src="/static/js/admin.js"></script>
  </head>
  <body class="page">
    <div class="gap-10vh"></div>
    <h1>Admin Page</h1>
    <div class="gap-5vh"></div>
    <div id="div-revision" hidden>
      <div id="group-revision-buttons">
        <button id="button-revision-start" onclick="requestUpdate()">
          Start new update
        </button>
        <button id="button-revision-continue" onclick="requestUpdate()">
          Continue update
        </button>
        <button
          id="button-revision-pause"
          onclick="requestUpdatePause()"
          hidden
        >
          Pause update
        </button>
        <button
          id="button-revision-cancel"
          onclick="requestUpdateCancellation()"
          hidden
        >
          Cancel update
        </button>
      </div>
      <div class="gap-10vh"></div>
      <h2>Recent update information</h2>
      <button id="button-update-revision-info" onclick="updateRevisionInfo()">
        <img src="/static/img/icon-reload.svg" />
      </button>
      <div id="block-revision-info" class="block"></div>
    </div>
    <div class="gap-20vh"></div>
  </body>
  <script>
    window.addEventListener('load', async () => {
      await initializePage();
    });
  </script>
</html>
